.tbm {
    color: darkred;
}

.flexbox {
    color: darkblue;
}

h1, h2, h3 {
    text-align: center;
}

#tbm {
    color: darkred;
}

#flexbox {
    color: darkblue
}

p {
    text-align: center;
    font-size: 18px;
}

h3 {
    padding-left: 400px;
    margin-bottom: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}